

.filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.listing-card {
    width: 300px;
    height: 380px;
    padding-bottom: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listing-card-image {
    width: 300px;
    height: 250px;
    min-height: 200px;
    border: 1px solid gray;
    border-radius: 12px;
}

.listing-card-title, .listing-card-price {
    margin: 0;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 50px;
    overflow: hidden;
}

.listing-card-desc {
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 40px;
    overflow: hidden;
}